rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Helper function to check if the user is an admin by reading their role from Firestore.
    function isAdmin() {
      return get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // Allow public read access to logos.
    // Allow admins to write to the /logos/ folder.
    match /logos/{allPaths=**} {
      allow read;
      allow write: if request.auth != null && isAdmin();
    }
    
    // Allow authenticated users to write to their own ticket folders.
    match /tickets/{ticketId}/{allPaths=**} {
        allow read: if request.auth != null;
        allow write: if request.auth != null;
    }
  }
}
